{% load dajaxice_templatetags %}
<!DOCTYPE html>
<html>
<head>
	<title>Ajax</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	{% load static %} 
	<script src="{% static "dajax/dajaxice.core.js" %} " type="text/javascript" charset="utf-8"></script>
<script src = "{% static "dajax/jquery.dajax.core.js" %}"></script>
   <script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.3.0/prototype.js"></script>
</head>
<body>
<div class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand"> Ajax</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="form">
			<h3> Welcome to the Ajax Form</h3>
			</div>
			<form method="post" id="ajaxform">
			{%csrf_token%}
				<div class="form-group">
				{{form}}
				</div>
				<button type="submit" class="btn btn-default" onclick="send_form();">Submit</button>
			</form>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
</body>
<script>

   function send_form(){
      Dajaxice.signup.send_form(Dajax.process,{'form':$('#ajaxform').serialize(true)});
   }
</script>
</html>