<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.loginForm{
			margin-top: 50%;
		}
		.errors{
			color:red;
		}
		.required{
			color: green;
		}
	</style>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<div class="loginForm">
					<form method="post">
					{%csrf_token%}
						<div class="form-group">
						<label>Email</label><br>
						{{form.email}}
						{{form.email.errors}}
						</div>
						<div class="form-group">
						<label>Password</label><br>
						{{form.password}}
						<div class="errors">{{form.password.errors}}</div>
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>	
			</div>
		<div class="col-sm-4"></div>
	</div>
</div>
</body>
</html>